<!doctype html>
<html>
<head>
	<title>Long Paypal</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:100px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-usd"></span> Money Transfer <span class="glyphicon glyphicon-sort"></span> </h1>

		<p>What are we Doing?</p>
        <div>
            &nbsp;
        </div>

        <div style="text-align: center">
            <a href="/send" class="btn btn-primary btn-lg" style="width: 350px "> <span class="glyphicon glyphicon-send"></span>&nbsp; Send Money</a>
        </div>
       <div>
		<a href="/view_history" class="btn btn-primary btn-lg" style="width: 350px; margin-top: 40px "><span class="glyphicon glyphicon-th-list"></span>&nbsp; View Transaction History</a>
       </div>
	</div>



</div>
</body>
</html>