<!doctype html>
<html>
<head>
	<title>Long Paypal</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:100px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-usd"></span> Money Transfer <span class="glyphicon glyphicon-sort"></span> </h1>
        </div>

        <div>
            &nbsp;
        </div>
<div class="row">
    <div class="col-md-6 col-md-offset-5">
        <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Signup</a>
        </div>
</div>
</div>
</body>
</html>