<%- include header %>

<style>
    .progress-bar.animate {
        width: 100%;
    }

    .modal {
        margin-top: 200px;
    }
</style>

<div class="container" style="margin-top: 0px">
    <div class="row">
        <div class="jumbotron text-center" style="height: 150px">
            <h1><span class="glyphicon glyphicon-send"></span>&nbsp; Review Transcation </h1>
        </div>
    </div>

    <div>
        <table class="table table-condensed">
            <tr>
                <th style="width: 30%"><h2>Date</h2>                </th>
                <th style="width: 30%"><h2>Receiver's Name</h2>     </th>
                <th style="width: 40%"><h2>Transaction Amount</h2>  </th>
            </tr>

            <% result.forEach( function (result){
                if (result.currency == "USD")
                {
                    sign1 = "fa fa-dollar"
                }
                if (result.currency == "YUAN")
                {
                    sign1 = "fa fa-jpy"
                }
                else if (result.currency == "EURO")
                {
                    sign1 = "fa fa-euro"
                }
            %>
            <tr>
                <td style="width: 30%"><%= result.date %>               </td>
                <td style="width: 30%"><%= result.to_email %>               </td>
                <td style="width: 40%"><i class="<%= sign1 %>"></i><%= result.amount %>                </td>
            </tr>
            <% }); %>

        </table>
    </div>

    <div class="row" style="margin-top: 100px">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <a href="/homepage" class="btn btn-primary btn-lg" style="width: 200px "> <span
                        class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back</a>
            <a href="/logout" class="btn btn-danger btn-lg" style="width: 200px "> <span
                        class="glyphicon glyphicon-log-out"></span>&nbsp; Log Out</a>

        </div>

    </div>
</div>
</div>

</body>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
