<%- include header %>

<style>
    .progress-bar.animate {
        width: 100%;
    }

    .modal {
        margin-top: 200px;
    }
</style>

<div class="container" style="margin-top: 0px">
    <div class="row">
        <div class="jumbotron text-center" style="height: 150px">
            <h1><span class="glyphicon glyphicon-send"></span>&nbsp; Review Transcation </h1>
        </div>
    </div>

    <div class="row">
        <div style="width: 600px; text-align: center" class="col-md-6 col-md-offset-3">
            <div style="margin-top: 100px; ">
                <P>
                <h2>You have sent <i class="<%= sign %>"></i> <%= review.amount%> <%= review.currency%> to <%= user.name%>
                </h2>
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 100px">
        <div style="" class="col-md-3 col-md-offset-3">
            <a href="/send" class="btn btn-primary btn-lg" style="width: 250px "> <span
                        class="glyphicon glyphicon-send"></span>&nbsp; Send Money</a>
        </div>
        <div class="col-md-3" style="">
            <a href="/view_history" class="btn btn-primary btn-lg" style="width: 250px "><span
                        class="glyphicon glyphicon-th-list"></span>&nbsp; View History</a>
        </div>


    </div>
</div>
</div>

</body>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
