<%- include header %>

<style>
    .progress-bar.animate {
        width: 100%;
    }
    .modal{
        margin-top: 200px;
    }
</style>

<div class="container" style="margin-top: 0px">
    <div class="row">
        <div class="jumbotron text-center" style="height: 150px">
            <h1><span class="glyphicon glyphicon-send"></span>&nbsp; Send Money</h1>
        </div>

        <div style="width: 300px; margin-left: 450px" class="col-md-6 col-md-offset-3">
            <form method="post" action="/app_request">

                <div class="">
                    <label for="email">Email address</label>

                    <div style="margin-top:0px ">
                    <input type="email" name="email" id="email" placeholder="To: Receiver's email address" required="required" style="width: 225px;height: 30px" >
                </div>


                <div class="" style="margin-top: 5px" >
                    <label for="amount">Amount</label>

                    <div></div>
                    <span>
                    <input  type="number" id="amount" name="amount" placeholder="Amount:" style="width:60%" required="required">
                    <select class="element select small" id="currency"
                            name="currency" style="width: 60px; height:60px">
                        <option value='USD' selected="selected">USD</option>
                        <option value="YUAN">YUAN</option>
                        <option value="EURO">EURO</option>
                    </select>
                    </span>
                </div>

                <div class="" style="margin-top: 5px">
                    <label class="description" for="message">Additional Message
                    </label>

                    <div>
                        <textarea type="text" id="message" name="message"
                                  class="element textarea large" style="width: 300px;height: 150px"
                                  placeholder="Message (optional)" value=""></textarea>
                    </div>
                </div>

                <label for="reason"><h4> What's this payment for ?</h4></label>

                <div>
                    <label class="btn btn-primary">
                        <input type="radio" name="type" id="people" value="people" style="background-color: #bbbbbb;"> I'm sending money to family or
                        friends
                    </label>
                </div>
                <div style="margin-top: 10px">
                    <label class="btn btn-primary">
                        <input type="radio" name="type" id="goods" value="goods"> I'm paying for goods or services
                        &nbsp;&nbsp;
                    </label>
                </div>
                <div>
                    &NonBreakingSpace;
                </div>


                <span>
                <button id="load" type="submit" class="btn btn-primary" style="width: 100px">Next</button>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="reset" value="Reset" class="btn btn-warning" style="margin-left: 33px; width:100px">Reset</button>
                </span>
</div>
            </form>
            <div>
                &NonBreakingSpace;
            </div>

        </div>
    </div>
</div>

<div class="modal js-loading-bar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><h3>Loading</h3>
                <div class="progress progress-popup">
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Setup
    this.$('.js-loading-bar').modal({
        backdrop: 'static',
        show: false
    });

    $('#load').click(function() {
        var $modal = $('.js-loading-bar'),
                $bar = $modal.find('.progress-bar');

        $modal.modal('show');
        $bar.addClass('animate');

        setTimeout(function() {
            $bar.removeClass('animate');
            $modal.modal('hide');
        }, 1200);
    });
</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
